lombok.log.custom.declaration=org.slf4j.Logger net.shibboleth.shared.primitive.LoggerFactory.getLogger(NAME)
lombok.log.fieldIsStatic=true

#lombok.toString.doNotUseGetters=true
lombok.equalsAndHashCode.doNotUseGetters=true

lombok.addNullAnnotations=javax
lombok.addLombokGeneratedAnnotation=true
config.stopBubbling=true