##
## Velocity Template for DisplayEsupOtpView view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## rpUIContext - the context with SP UI information from the metadata
## esupOtpEncoder - EsupOtpEncoder class
## cspDigester - Calculates base64-encoded SHA-2 hashes (call apply)
## cspNonce - Calculates secure nonces (call generateIdentifier)
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.profile.context.RelyingPartyContext'))
##
#set ($esupOtpContext = $authenticationContext.getSubcontext('fr.renater.shibboleth.idp.plugin.authn.esup.otp.context.EsupOtpContext'))
#set ($managerLink = $environment.getProperty("idp.esup.otp.manager.link"))
##
#set ($nonce = $cspNonce.generateIdentifier())
#if ($esupOtpContext.getEnabledChoices().isEmpty())
  #set ($onLoad = "alert(#springMessageText('idp.esup.otp.nochoices', 'You have no registered authentication method.'))")
#else
  #set ($onLoad = "document.getElementById('methodChoices').focus()")
#end
  #set ($onClick = "this.childNodes[0].nodeValue='#springMessageText('idp.esup.otp.sending', 'Sending in progress, please wait...')'")
  $response.addHeader("Content-Security-Policy", "script-src-attr 'unsafe-hashes' 'sha256-$cspDigester.apply($onLoad)' 'sha256-$cspDigester.apply($onClick)' 'nonce-$nonce'")
<!DOCTYPE html>
<html>
    <head>
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()#springMessageText("idp.css", "/css/placeholder.css")">
        <script #if ($nonce)nonce="$nonce"#end>
            // Fonction de vérification de la sélection
            function checkSelection() {
                const selectElement = document.getElementById("methodChoices");
                const submitButton = document.getElementById("submitButton");

                // Active ou désactive le bouton en fonction de la sélection
                submitButton.disabled = (selectElement.value === "");
            }

            // Ajoute l'écouteur d'événement une fois le contenu chargé
            document.addEventListener("DOMContentLoaded", function() {
                const selectElement = document.getElementById("methodChoices");
                selectElement.addEventListener("change", checkSelection);
            });
        </script>
    </head>
    <body onLoad="$onLoad">
        <main class="main">
            <header>
                <img class="main-logo" src="$request.getContextPath()#springMessageText("idp.logo", "/images/placeholder-logo.png")" alt="#springMessageText("idp.logo.alt-text", "logo")" />

                #set ($serviceName = $rpUIContext.serviceName)
                #if ($serviceName && !$rpContext.getRelyingPartyId().contains($serviceName))
                    <h1>#springMessageText("idp.login.loginTo", "Login to") $encoder.encodeForHTML($serviceName)</h1>
                #end
            </header>

            <section>
                <form id="fm1" action="$flowExecutionUrl" method="post">
                    #parse("csrf/csrf.vm")

                    #*
                    //
                    //    SP Description & Logo (optional)
                    //    These idpui lines will display added information (if available
                    //    in the metadata) about the Service Provider (SP) that requested
                    //    authentication. These idpui lines are "active" in this example
                    //    (not commented out) - this extra SP info will be displayed.
                    //    Remove or comment out these lines to stop the display of the
                    //    added SP information.
                    //
                    *#
                    #set ($logo = $rpUIContext.getLogo())
                    #if ($logo)
                        <img class="service-logo" src= "$encoder.encodeForHTMLAttribute($logo)" alt="$encoder.encodeForHTMLAttribute($serviceName)">
                    #end
                    #set ($desc = $rpUIContext.getServiceDescription())
                    #if ($desc)
                        <p>$encoder.encodeForHTML($desc)</p>
                    #end

                    #parse("esup-otp-error.vm")

                    #if ($esupOtpContext.getEnabledChoices().isEmpty())
                       <article>
                            <p class="output-message output--warning">
                                #springMessageText("idp.esup.otp.nochoices", "You have no registered authentication method.")
                                <br/><br/>
                                #springMessageText("idp.esup.otp.nochoices.activate","To access this service, activate the multi-factor authentication ") <a href='${managerLink}' target='_blank'>#springMessageText("idp.esup.otp.nochoices.here","here")</a>.
                            </p>
                        </article>
                    #else
                        <fieldset>

                            <label for="methodChoices">#springMessageText("idp.esup.otp.methodchoices", "Choose an authentication method:")</label>
                            <select class="form-element" id="methodChoices" name="methodchoice" required>
                                <option value="" disabled selected>#springMessageText("idp.esup.otp.methodchoices.option", "Please select an authentication method")</option>
                                #foreach($option in $esupOtpContext.getEnabledChoices())
                                    <option value="$option">
                                    #set ($dotIndex = $option.lastIndexOf("."))
                                    #if ($dotIndex == -1)
                                        #set ($arg = $esupOtpContext.getConfiguredTransports().get($option))
                                    #else
                                        #set ($arg = $esupOtpContext.getConfiguredTransports().get($option.substring($dotIndex + 1)))
                                    #end
                                    $springMacroRequestContext.getMessage("idp.esup.otp.label.$option", [$arg], $option)
                                    </option>
                                #end
                            </select>

                            <button type="submit" name="_eventId_proceed" id="submitButton" disabled onClick="$onClick">#springMessageText("idp.esup.otp.send", "Send")</button>
                        </fieldset>
                    #end
                </form>
                <ul>
                    <li><a href="${managerLink}">#springMessageText("idp.esup.otp.updatechoices", "Update your authentication choices?")</a></li>
                    <li><a href="#springMessageText("idp.url.password.reset", '#')">#springMessageText("idp.login.forgotPassword", "Forgot your password?")</a></li>
                    <li><a href="#springMessageText("idp.url.helpdesk", '#')">#springMessageText("idp.login.needHelp", "Need Help?")</a></li>
                </ul>
            </section>
        </main>
        <footer class="footer">
            <div class="cc">
                <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
            </div>
        </footer>
     </body>
</html>
