##
## Velocity Template for DisplayTOTPView view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## rpUIContext - the context with SP UI information from the metadata
## encoder - HTMLEncoder class
## esupOtpEncoder - EsupOtpEncoder class
## cspDigester - Calculates base64-encoded SHA-2 hashes (call apply)
## cspNonce - Calculates secure nonces (call generateIdentifier)
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.profile.context.RelyingPartyContext'))
##
#set ($esupOtpContext = $authenticationContext.getSubcontext('fr.renater.shibboleth.idp.plugin.authn.esup.otp.context.EsupOtpContext'))
#if ("push" == $esupOtpContext.getTransportChoose() || "webauthn" == $esupOtpContext.getTransportChoose())
    #set ($apiUrl = $environment.getProperty("idp.esup.otp.apiHost"))
#end
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.profile.context.RelyingPartyContext'))
#set ($sendCounter = $environment.getProperty('idp.esup.otp.send.counter', -1))
##
#set ($onClick = "this.childNodes[0].nodeValue='#springMessageText('idp.login.pleasewait', 'Logging in, please wait...')'")
#set ($onClickResend = "this.childNodes[0].nodeValue='#springMessageText('idp.esup.otp.resend.processed', 'Resend processed, please wait...')'")
$response.addHeader("Content-Security-Policy", "script-src-attr 'unsafe-hashes' 'sha256-$cspDigester.apply($onClick)' 'sha256-$cspDigester.apply($onClickResend)'")
<!DOCTYPE html>
<html>
    <head>
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()#springMessageText("idp.css", "/css/placeholder.css")">
        #if ("push" == $esupOtpContext.getTransportChoose())
            <script src="$apiUrl/js/socket.io.js"></script>
            <script type="text/javascript">
                // Fonction d'initialisation du socket
                function initializeSocket() {
                    var socket = io.connect("$apiUrl", {
                        reconnect: true,
                        path: "/sockets",
                        query: "uid=${esupOtpContext.getUsername()}&hash=$esupOtpEncoder.getUserHash($esupOtpContext.getUsername())&app=cas"
                    });
                    socket.on('connect', function () {
                        console.log("Socket connect");
                    });
                    socket.on('userAuth', function (data) {
                        if (data.code == "Ok") {
                          submitCode(data.otp);
                        }
                    });
                    socket.on('connect_error', (err) => {
                        console.log('Socket connection error: ' + err.message);
                    });
                }

                function submitCode(code) {
                    document.getElementById("tokencode").value = code;
                    document.getElementById("submitPush").click();
                }

                initializeSocket();
            </script>
            <style>
                .loader {
                    margin: 8px auto;
                    border: 8px solid #f3f3f3;
                    border-top: 8px solid #0491c6;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    animation: spin 2s linear infinite;
                }

                @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }
            </style>
        #elseif ("webauthn" == $esupOtpContext.getTransportChoose())
            <!--<script type="text/javascript" src="$request.getContextPath()/js/webauthn/webauthn-support.js" #if ($nonce)nonce="$nonce"#end></script>-->

            <script type="module" #if ($nonce)nonce="$nonce"#end>
                import {
                    get,
                    parseRequestOptionsFromJSON,
                    supported,
                } from "$request.getContextPath()/js/webauthn-json.browser-ponyfill.js";

                window.addEventListener("load", () => {
                    try {
                        var isSupported = supported();
                        if (!isSupported) {
                            document.getElementById('supportedDiv').classList.add('hidden')
                            document.getElementById("supportedDiv").disabled = true;
                            document.getElementById("authenticate").disabled = true;
                            document.getElementById("authenticator_assertion_form").disabled = true;
                            document.getElementById("error").disabled = false;
                            document.getElementById('error').classList.remove('hidden')
                        } else {
                            document.getElementById("authenticate").onclick = authenticate;
                        }
                    } catch (e) {
                        console.error(e);
                    }
                });

                async function authenticate() {
                    // Some UI changes
                    try {
                        document.getElementById('authenticate').textContent='#springMessageText("idp.webauthn.authn.inprogress", "Authenticating...")'
                    } catch (e) {
                        // No issue if this does not work
                    }
                    var pkCredRequestOptions = $esupOtpEncoder.serializePublicKeyCredentialRequestOptionsAsJSON($esupOtpContext.getWebauthnCredentialRequestOptions())
                    var parsedRequestOptions = parseRequestOptionsFromJSON(pkCredRequestOptions);
                    await get(parsedRequestOptions)
                        .then(function (pkCredAssertion) {
                            document.getElementById("publicKeyCredential").value = JSON.stringify(pkCredAssertion);
                            document.getElementById("authenticationSubmit").click();
                        }).catch(function (err) {
                            console.error(err);
                            document.getElementById('authenticate').textContent='#springMessageText("idp.esup.otp.webauthn.retry", "Login failed, retry")'
                        });
                }
            </script>
            <style>
                .hidden {
                    display: none;
                }

                .center {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }
            </style>
        #else
            <script>
                // Fonction de vérification de la longueur du token
                function validInputLength(addOneChar) {
                    const tokenInputElement = document.getElementById("tokencode");

                    var inputLength = tokenInputElement.value.length;
                    if(addOneChar) {
                        inputLength = inputLength + 1;
                    }

                    return inputLength == 6;
                    // Check inputLength = 6
                    // disableSubmitButton(inputLength != 6);
                }

                function disableSubmitButton(disable) {
                    const submitButton = document.getElementById("submitButton");
                    submitButton.disabled = disable
                }

                // Ajoute l'écouteur d'événement une fois le contenu chargé
                document.addEventListener("DOMContentLoaded", function() {
                    const tokenInputElement = document.getElementById("tokencode");
                    var ctrlDown = false;
                    const ctrlKey = 17, cmdKey = 91, vKey = 86;
                    tokenInputElement.addEventListener('keydown', (e) => {
                        // Allow: backspace, delete, tab, escape, enter and .
                        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                          // Allow: Ctrl+A,Ctrl+C,Ctrl+V, Command+A
                          ((e.keyCode == 65 || e.keyCode == 86 || e.keyCode == 67) && (e.ctrlKey === true || e.metaKey === true)) ||
                          // Allow: home, end, left, right, down, up
                          (e.keyCode >= 35 && e.keyCode <= 40)) {
                          // let it happen, don't do anything
                          return;
                        }
                        // prevent if token size is over
                        if (validInputLength(false)) {
                            e.preventDefault();
                        }
                        // prevent if input is not number
                        if (!ctrlDown && e.key.length == 1 && /[^0-9]/.test(e.key)) {
                            e.preventDefault();
                        }
                        if (e.key == "Backspace" || e.key == "Delete") {
                            disableSubmitButton(true);
                        }
                    });
                    $('input').bind('paste',function(e){
                        var $this = $(this);
                        setTimeout(function(){
                            if(/[0-9]{6}/.test($this.val())) {
                                disableSubmitButton(false);
                            }
                        },0); //just break the callstack to let the event finish
                    });
                    tokenInputElement.addEventListener('keypress', (e) => {
                        if (e.key == "Enter") {
                            e.preventDefault();
                            const validCode = validInputLength(false);
                            if(validCode) {
                                document.getElementById("submitButton").click();
                            }
                        } else {
                            const validCode = validInputLength(true);
                            disableSubmitButton(!validCode);
                        }
                    });

                    var canRetry = true;
                    const maxRetry = $sendCounter;
                    if(maxRetry != -1) {
                        canRetry = $esupOtpContext.getSendCounter() <= maxRetry;
                    }
                    document.getElementById("retryButton").disabled = !canRetry;
                });
            </script>
            <style>
                @media all {
                    .input-wrap {
                        position: relative;
                        display: flex;
                        padding: 0px;
                    }

                    .input-wrap.token {
                        width: 300px;
                        margin-bottom: 10px;
                        column-gap: 10px;
                    }

                    .token-input {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        z-index: 2;
                        width: 400px;
                        height: 50px;
                        margin-bottom: 0px;
                        padding: 0px 0px 0px 12px;
                        border-style: none;
                        border-width: 1px;
                        border-color: black;
                        background-color: transparent;
                        font-family: Verdana, Geneva, sans-serif;
                        color: rgb(0, 0, 0);
                        font-size: 23px;
                        font-weight: 400;
                        text-align: left;
                        letter-spacing: 35.5px;
                        text-transform: uppercase;
                    }

                    .token-input:hover ~ .one-input {
                        border-color: #0491c6;
                        box-shadow: none;
                    }

                    .one-input {
                        position: relative;
                        min-height: 40px;
                        margin-bottom: 20px;
                        padding: 8px 12px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: rgba(18, 19, 49, 0.25);
                        border-radius: 5px;
                        background-color: white;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px -5px;
                        transition-property: box-shadow, border-color;
                        transition-duration: 200ms, 200ms;
                        transition-timing-function: ease, ease;
                        color: rgb(18, 19, 49);
                    }

                    .token-fake {
                        width: 40px;
                        height: 50px;
                        background-color: transparent;
                    }

                }

                .input {
                    display: block;
                    line-height: 1.42857143;
                    box-shadow: none;
                }

                .input:focus {
                    outline: 0;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                }

                .input:focus ~ .one-input {
                    border-color: #0491c6;
                    box-shadow: none;
                }

                .token-overflow {
                    z-index: 5;
                    width: 30px;
                    height: 50px;
                    background-color: #fff;
                    position: absolute;
                    top: 0%;
                    left: 100%;
                    right: auto;
                }

            </style>
        #end
    </head>
    <body>
        <main class="main">
            <header>
                <img class="main-logo" src="$request.getContextPath()#springMessageText("idp.logo", "/images/placeholder-logo.png")" alt="#springMessageText("idp.logo.alt-text", "logo")" />

                #set ($serviceName = $rpUIContext.serviceName)
                #if ($serviceName && !$rpContext.getRelyingPartyId().contains($serviceName))
                    <h1>#springMessageText("idp.esup.otp.title", "Multi-Factor Authentication")</h1>
                #end
            </header>

            <section>
                #parse("csrf/csrf.vm")

                #*
                //
                //    SP Description & Logo (optional)
                //    These idpui lines will display added information (if available
                //    in the metadata) about the Service Provider (SP) that requested
                //    authentication. These idpui lines are "active" in this example
                //    (not commented out) - this extra SP info will be displayed.
                //    Remove or comment out these lines to stop the display of the
                //    added SP information.
                //
                *#
                #set ($logo = $rpUIContext.getLogo())
                #if ($logo)
                    <img class="service-logo" src= "$encoder.encodeForHTMLAttribute($logo)" alt="$encoder.encodeForHTMLAttribute($serviceName)">
                #end
                #set ($desc = $rpUIContext.getServiceDescription())
                #if ($desc)
                    <p>$encoder.encodeForHTML($desc)</p>
                #end

                #parse("esup-otp-error.vm")

                #if ("push" == $esupOtpContext.getTransportChoose())
                    <form id="pushForm" action="$flowExecutionUrl" method="post">
                        <input type="hidden" id="tokencode" name="tokencode" type="text" value="" />
                        <button id="submitPush" style="display: none;" type="submit" name="_eventId_proceed"
                                onClick="$onClick"
                        >#springMessageText("idp.login.login", "Login")</button>
                    </form>

                    <article class="small-10 medium-10 large-7 small-centered text-center">
                        <p class="callout primary">
                            #springMessageText("idp.esup.otp.wait", "Wait phone validation.")
                        </p>
                        <div class="loader"></div>
                    </article>
                    <article class="small-10 medium-10 large-7 small-centered text-center">
                        <p class="callout primary">
                            #springMessageText("idp.esup.otp.push.retry", "Resend push notification.")
                        </p>
                    </article>
                #elseif ("webauthn" == $esupOtpContext.getTransportChoose())
                    <form id="authenticator_assertion_form" action="$flowExecutionUrl" method="post">
                        <input type="hidden" id="publicKeyCredential" name="publicKeyCredential" />
                        <button class="hidden" id="authenticationSubmit" type="submit"
                                name="_eventId_proceed">#springMessageText("idp.esup.otp.webauthn.submit", "Submit
                            authentication")</button>
                    </form>
                    <div class="center">
                        <button class="button" id="authenticate">#springMessageText("idp.esup.otp.webauthn.authenticate",
                            "Login with passkey or security key")</button>
                    </div>

                    <article id="error" class="small-10 medium-10 large-7 small-centered text-center hidden">
                        <p class="callout error">
                            #springMessageText("idp.esup.otp.error", "Initialization 2FA exception occured.")
                        </p>
                    </article>
                #else
                    <form action="$flowExecutionUrl" method="post">

                        #if ("bypass" == $esupOtpContext.getTransportChoose())
                            <article class="small-10 medium-10 large-7 small-centered text-center">
                                <p class="callout primary">
                                    #springMessageText("idp.esup.otp.bypass", "Enter bypass code.")
                                </p>
                            </article>
                        #end

                        <fieldset class="small-10 medium-10 large-7 small-centered margin-top">

                            <label for="tokencode"><i class="fa fa-lg fa-lock"></i> #springMessageText("idp.esup.otp.field", "Token Code")</label>
                            <div class="input-wrap token">
                                <input class="form-element form-field token-input input" id="tokencode" name="tokencode" type="text" inputmode="numeric" value="" placeholder="000000" autocomplete="off" />
                                <div class="one-input token-fake"></div>
                                <div class="one-input token-fake"></div>
                                <div class="one-input token-fake"></div>
                                <div class="one-input token-fake"></div>
                                <div class="one-input token-fake"></div>
                                <div class="one-input token-fake"></div>
                                <div class="token-overflow"></div>
                            </div>

                            <button class="button float-left" type="submit" name="_eventId_resend" id="retryButton"
                                    onClick="$onClickResend"
                                >#springMessageText("idp.esup.otp.resend", "Resend")</button>

                            <button class="button float-right" type="submit" name="_eventId_proceed" id="submitButton"
                                disabled
                                onClick="$onClick"
                                >#springMessageText("idp.login.login", "Login")</button>
                        </fieldset>
                    </form>
                #end

                <article class="small-10 medium-10 large-7 small-centered text-center">
                    <p class="callout primary">
                        #springMessageText("idp.esup.otp.updatechoices", "Update choices.")
                        <br/><br/>
                        #springMessageText("idp.esup.otp.manager", "Go to application") : <a href="#springMessageText("idp.esup.otp.manager.link", "https://otpmanager-test.fr/preferences")" target="_blank">#springMessageText("idp.esup.otp.manager.here", "here")</a>
                    </p>
                </article>

                <ul>
                    <li><a href="#springMessageText("idp.url.password.reset", '#')">#springMessageText("idp.login.forgotPassword", "Forgot your password?")</a></li>
                    <li><a href="#springMessageText("idp.url.helpdesk", '#')">#springMessageText("idp.login.needHelp", "Need Help?")</a></li>
                </ul>
            </section>
        </main>
        <footer class="footer">
            <div class="cc">
                <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
            </div>
        </footer>
     </body>
</html>
